body {

    line-height: normal;
    font-family: 'Libre Baskerville';
    text-align: justify;
}
/* Color */
:root {
    
    --primary-color: #2198ee; /* Blue */
    --secondary-color: #185672; /* Darker blue */
    --tertiary-color:  #2da2d8;
    --white: #fff; /* White */
    --black: #000; /* Black */
    --dark-gray: #2a2a2a; /* Dark gray */
    --light-blue: #e2fbff;
    --grey: #a8a8a8;
    --dark-grey: #696868;
    --hover-border-color: #0cdaf1;
    --icon-facebook: #1507da;
    --icon-telegram: #28a7e7;
    --icon-whatsapp: #60D66A;
    --icon-youtube: #EF5043;
    --button-gradient-end: #81d6fd;
    --divider-color: #acacac;
    --blue:  #0027ff;
    --dark-blue: #2d3b89;
    --mail-text-color: rgba(116, 111, 111, 0.74);
    --mail-input-color: rgba(53, 53, 53, 0.57);
    --light-gray: rgb(225, 225, 225); /* Light gray */
    --shadow-color: rgba(0, 0, 0, 0.25); /* Shadow color */
    --dark-overlay: rgba(16, 16, 16, 0.409); /* Semi-transparent black */
}
/* End of Color  */
.container-width {
    max-width: 1050px;
    margin: 0 auto;
}
/* navbar */
.nav {
    display: flex;
    box-shadow: 0px 4px 4px var(--shadow-color);
    background-color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    gap: 35px;
}

.logo>a>img {
    width: 100px;
    position: relative;
    height: 75px;
    object-fit: cover;
    padding: 0px 300px 0px 0px;
}

.nav-list>a {
    font-size: 15px;
    color: var(--tertiary-color);
    text-decoration: none;
}

.nav-list {
    position: relative;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 0rem;
}

.search-bar {
    width: 30px;
    position: relative;
}

/* New Styles */
.main-tool-bar {
    height: 80px;
    background: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    gap: 45px;
    transition: ease 0.4s;
}

.main-tool-bar--scrolled {
    height: 40px;
}

.main-tool-bar--scrolled .logo>a>img {
    width: 60px; /* Adjust width as needed */
    height: 45px; /* Adjust height as needed */
    padding: 0px 300px 0px 0px;
}

.scrollable-area {
    height: 200vh;
}
.nav-list>a {
    color: var(--primary-color); /* Change text color on hover */
    text-decoration: none;
    position: relative;
}

.nav-list>a:after {
    content: "";
    display: block;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-list>a:hover:after {
    width: 100%;
    left: 0;
}
/* Hover effect styles */
.nav-list>a {
    color: var(--primary-color); 
    text-decoration: none;
    position: relative;
}

.nav-list>a:after {
    content: "";
    display: block;
    height: 2px;
    background: var(--primary-color);  
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-list>a:hover:after {
    width: 100%;
    left: 0;
}
/* Section one */
.section-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 9.5rem;
}

.s-img-one {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 650px;
    height: 525px;
    object-fit: cover;
}

.post-one-child {
    position: absolute;
    top: 475px;
    left: 0px;
    background-color: var(--dark-overlay);
    width: 590px;
    height: 50px;
}

.text-s-img-one {
    position: absolute;
    top: 494px;
    left: 15px;
    color: var(--white);
}

.section-img-one {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 590.3px;
    height: 601px;
    cursor: pointer;
}

.post-one {
    width: 100%;
    position: relative;
    height: 602px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: var(--black);
}

.section-img-two {
    width: 100%;
    position: relative;
    height: 260px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    color: var(--black);
}

.s-img-two {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 260px;
    object-fit: cover;
}

.post-two-child {
    position: absolute;
    top: 220px;
    left: -0.28px;
    background-color: var(--dark-overlay);
    width: 550px;
    height: 40px;
}

.text-s-img-two {
    position: absolute;
    top: 232px;
    left: 15px;
    color: var(--white);
}

.section-posttwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.s-img-three-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 283px;
    height: 260px;
    object-fit: cover;
}

.post-three-item {
    position: absolute;
    background-color: var(--dark-overlay);
    top: 235px;
    left: 0px;
    width: 283px;
    height: 26px;
}

.text-s-img-three {
    position: absolute;
    top: 240px;
    left: 10px;
    color: var(--white);
}

.s-img-three {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 283px;
    height: 260px;
}

.section-img-three {
    width: 100%;
    position: relative;
    height: 278px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
    color: var(--black);
}

/* End of Section one */
/* Section Two */
.section-two {
    margin-top: 4rem;
}

.tap-child {
    position: absolute;
    top: 30px;
    left: 0px;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    width: 1050px;
    height: 7px;
}

.tap-item {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 125.4px;
    height: 33.2px;
}

.label-text {
    position: absolute;
    top: 6.26px;
    left: 20.06px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63.2px;
    height: 16.7px;
}

.tap {
    width: 100%;
    position: relative;
    height: 35px;
    text-align: center;
    font-size: 15px;
    color: var(--white);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card-section {
    margin-top: 3rem;
}

.first-card-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 439px;
}

.first-card-text {
    position: absolute;
    top: 275px;
    left: calc(50% - 140px);
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    width: 280px;
    height: 100px;
}

.card-item {
    position: absolute;
    top: 0px;
    left: 5.01px;
    width: 3px;
    height: 300px;
}

.first-img-card {
    width: 300px;
    height: 275px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
}

.first-card-line {
    position: absolute;
    top: 400.9px;
    left: 0px;
    border-top: 0.5px solid var(--light-gray);
    box-sizing: border-box;
    width: 300px;
    height: 0.5px;
}

.first-card-time-update {
    font-size: 12px;
    position: absolute;
    top: 410px;
    right: 5px;
    line-height: 165%;
    color: var(--dark-gray);
    display: inline-block;
    height: 21.3px;
}

.first-card-author {
    font-size: 12px;
    position: absolute;
    top: 410px;
    left: 11px;
    line-height: 165%;
    display: inline-block;
    height: 21.3px;
}

.fist-card {
    border-radius: 5px;
    position: absolute;
    width: 300px;
    height: 440px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2);
}


/* Second card */
.card-section {
    margin-right: 27.5rem;
}

.second-card-text {
    font-size: 12px;
    position: relative;
    left: 10px;
    width: 225px;
    height: 30px;
    
}

.second-card-img {
    width: 240px;
    height: 150px;
    object-fit: cover;
}

.second-card-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    width: 240px;
    height: 215px;
  
}
.second-card-child{
  
    box-shadow: 0px 4px 4px var(--shadow-color);
}

.third-card {
    margin-top: 0.6rem;
}

/* End of second card */
/* End of Section Two  */

/* Advertising */
.ads-child {
    position: absolute;
    top: 3px;
    left: 0px;
    background-color: rgba(217, 217, 217, 0.3);
    width: 1050px;
    height: 133px;
}

.ads-img {
    position: absolute;
    top: 4px;
    left: 451px;
    width: 299px;
    height: 130px;
    object-fit: cover;
}

.ads-item {
    position: absolute;
    top: 65.44px;
    left: 101.26px;
    background: linear-gradient(90deg, #6d381b, #d36d35);
    width: 123.6px;
    height: 29.3px;
}

.purchase-now {
    position: absolute;
    top: 74.07px;
    left: 109.93px;
    line-height: 151.1%;
    display: inline-block;
    width: 107.3px;
    height: 12.9px;
}

.span {
    color: #36c2ce;

}

.best-selling-product-container {
    position: absolute;
    top: 43px;
    left: 85px;
    font-size: 14px;
    line-height: 151.1%;
    width: 157.2px;
    height: 22.4px;
    color: #df6a2a;
}
.ads {
    width: 100%;
    position: relative;
    height: 139px;
    text-align: left;
    font-size: 10px;
    color: var(--white);
    
}

/* End of Advertising */

/* Footer */
/* General Footer Styles */
.footer-parent {
    width: 100%;
    position: relative;
    height: 400px;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    background-color: var(--light-blue);
    margin-top: 30rem;
}

/* Footer Child */
.footer-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

/* Footer Grid */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1050px;
    margin: 0 auto;
}

/* Footer Text */
.footer-text {
    font-size: 18px;
    display: inline-block;
    color: var(--grey);
}

/* Footer Title */
.footer-title {
    overflow: hidden;
    width: 75%;
}

/* Quick Link Styles */
.quick-link {
    font-size: 15px;
    color: var(--grey);
}

.quick-link-title {
    font-size: 20px;
    line-height: 28px;
    color: var(--blue);
    text-align: center;
    display: flex;
    align-items: right; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 35px;
}

.quick-link-line {
    border-top: 1px solid var(--divider-color);
    width: 80%;
    margin: 0px 0;
}

/* Quick Link Items */
.f-news,
.f-media-center,
.f-social-media,
.f-entertainment,
.f-other-article {
    line-height: 28px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

/* Mail Styles */
.get-mail {
    width: 80%;
    font-size: 10px;
    color: var(--tertiary-color);
}

.mail-title {
    font-size: 20px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.mail-line {
    border-top: 1px solid var(--divider-color);
    width: 100%;
    margin: 10px 0;
}

.mail-text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--mail-text-color);
    text-align: left;
    margin-bottom: 15px;
}

.mail-input {
    width: 100%;
    height: 45.6px;
    text-align: center;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.mail-btn {
    text-align: center;
}

.mail-submit {
    background: linear-gradient(90deg, var(--tertiary-color), var(--button-gradient-end));
    width: 100%;
    height: 36.6px;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.mail-submit:hover {
    background: linear-gradient(90deg, var(--button-gradient-end), var(--tertiary-color)); 
    color: var(--white);
}

/* Social Icons */
.social-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    position: relative;
    top: 20px;
    cursor: pointer;
}

.s-icon {
    font-size: 2em;
}

.facebook>a {
    color: var(--icon-facebook);
}

.telegram>a {
    color: var(--icon-telegram);
}

.whatsapp>a {
    background: linear-gradient(var(--icon-whatsapp), var(--icon-whatsapp));
    -webkit-background-clip: text;
    color: transparent;
}

.youtube>a {
    color: var(--icon-youtube);
}

/* Input Styles */
.input {
    background-color: #fffefe;
    border: 1px solid var(--light-grey);
    border-radius: 0px;
    color: #b9b9b9;
    padding: 15px 60.50px;
    text-decoration: none;
    font-size: 12px;
    margin: 0px 0px;
    text-align: center;
}

.input:hover {
    border: 1px solid var(--hover-border-color);
}

/* Miscellaneous */
.to-be-updated {
    margin: 0;
}
.quick-link-parent{
    width: 75%;
}
.footer-title,
.quick-link-parent,
.get-mail{ 
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
 }
/* End of Footer */
 /* News Page */
 .news-parent {
    margin-top: 7.5rem;
    position: relative;
    font-size: 12px;
    color: var(--white);
}

.news-child {
    width: 10%;
    top: 0;
    right: 0;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--blue), var(--dark-blue));
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-news {
    text-align: center;
    color: #fff;
}

.news-time-update {
    position: absolute;
    top: 20px;
    left: 120px;
    color: var(--grey);
}

.news-line {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    border-top: 1px solid var( --divider-color);
    box-sizing: border-box;
}

.n-card-item {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #2d3b89;
    width: 100%;
    height: 300px;
}

.n-title{
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.news-text-title {
    border-radius: 6px;
    background-color: rgba(75, 107, 251, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
}

.n-script{
    width: 365px;
    position: relative;
    line-height: 28px;
    font-weight: 600;
    color: #181a2a;
    display: flex;
    align-items: center;
    height: 47px;
    flex-shrink: 0;
}

.news-text{
    position: absolute;
    top: 320px;
    left: 13px;
    width: 351px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}

.n-date {
    position: relative;
    line-height: 24px;
}

.short-info {
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.n-date-update{
    position: absolute;
    top: 320px;
    left: 13px;
    width: 94px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    box-sizing: border-box;
    font-size: 10px;
    color: #97989f;
}

.news-card-parent {
    width: 90%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 500px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #4b6bfb;
    font-family: 'Work Sans';
    margin-top: 3rem;
}

.news-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.n-section-one{
    padding: 0px 0px 0px 50px;
}
.n-ads{
    top: 60px;
   
}
.n-section-two{
    padding: 0px 0px 0px 50px;
    margin-top: 70px;
}
/* End of News Page */